body {
    margin: 0;

}

a {
    text-decoration: none;
    color: black
}

.header {
    text-align: center;
    margin: 0 auto;
    font-family: "La Belle Aurore";
    font-size: 5em;
    font-weight: bold;
}

.container {

    display: flex;
}

.leftBar {
    width: 200px;
}

.leftBar ul {
    list-style: none;
}

.leftBar ul li {
    height: 200px;
    line-height: 200px;
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
}

.leftBar ul li a {
    color: rgba(0, 0, 0, 0.466);
    display: block;
}

.leftBar ul li:hover {
    font-size: 2.2em;
    font-weight: bold;
    background-color: rgba(238, 238, 238, 0.74);
}

.leftBar ul li a:hover {
    color: black;
}

.contents {
    flex: 4;
    display: flex;
}

.first-col {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.boards {
    display: flex;
    flex: 1;
}

.board {
    flex: 1;
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 20px;
}

.schedule {
    flex: 1;
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 20px;
}

.profile {
    flex: 1;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
}

.box {
    box-shadow: 0px 4px 25px rgb(0 0 0 / 35%);
}

.footer {
    color: white;
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0;
}